{% extends "cgBase.html" %}
{% block content %}
<!-- EDIT 3 Lines Down Background Images-->
<section class="fdb-block py-0 fp-active" data-block-type="contents" data-id="4" draggable="false">
  <div class="container py-5 my-5" style="background-image: url('static/Main.jpg');">
    <div class="row text-left py-5">
      <div class="col-12 col-sm-10 m-auto ml-md-5 col-md-8 col-lg-6 fr-box" role="application">
        <div class="fr-wrapper" dir="auto">
          <div class="fr-element fr-view" dir="auto" contenteditable="false" aria-disabled="false" spellcheck="true">
            <div class="fdb-box">
              <div class="row justify-content-center">
                <div class="col-12 col-xl-8 text-center fr-box" role="application">
                  <div class="fr-wrapper" dir="auto">
                    <div class="fr-element fr-view" dir="auto" contenteditable="false" aria-disabled="false"
                      spellcheck="true">
                      <h1>Coventry Glen HOA</h1>
                      <p class="lead">How much wood would a wood chuck chuck if a wood chuck could chuck wood?</p>
                      <p class="h3 mt-4"><a contenteditable="false" href="{{url_for('meetingsPage')}}">Learn More <svg
                            class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-prefix="fas"
                            data-icon="angle-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"
                            data-fa-i2svg="">
                            <path fill="currentColor"
                              d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z">
                            </path>
                          </svg><!-- <i class="fas fa-angle-right"></i> --></a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<form method='POST' action='' class="fdb-block bg-light">
  <div> 
    {{form.csrf_token}}
    <div class="row justify-content-center">
      <div class="col-12  col-md-10 col-lg-8 col-xl-8 text-center">
        <h1>Never miss an update</h1>
        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
          live the blind texts. </p>
        <div class="input-group mt-4 mb-4">
          {{form.email(class="form-control", placeholder="Enter your email address")}}
          <div class="input-group-append">
            {{form.submit(class="btn btn-primary")}}
          </div>
        </div>
        <p class="h5"><em>*Your email address is safe with us. We never share your email address.</em></p>
      </div>
    </div>
  </div>
</form>
{% endblock %}